<style type="text/css">
  body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #5d5d5d;
}
</style>
<%= form_tag(:controller => "subscribes", :action => "update", :method => "put") do %>
  <article>    
    <label class=”amount”> 
      <span>Subscribe to Plan 1: £30.00</span> 
    </label> 
  </article>

<script src="https://checkout.stripe.com/checkout.js" 
  class="stripe-button" data-key= "<%=
  Rails.configuration.stripe[:publishable_key] %>"
    data-description="A month’s subscription" 
    data-amount="3000" 
    data-locale="auto">
  </script> <p>

<%= link_to 'Back', root_path %></p>
<% end %>